body{
background-image: url("/assets/img/background.jpg");
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
canvas{
   
    border: 10px solid rgb(49, 59, 59);
    box-shadow: white 0px 0px 10px 11px;
}
h1{
    color: #8edf7e;
    text-align: center;
    font-size: 50px;
}
#gameInformations{
    display:flex;
    flex-direction: column;
}
#panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
    z-index: 0;
    
}
.panelLabel{
    background-color: black;
    color: white;
    border: 5px double rgb(255, 255, 255);
    border-radius: 20px;
    width: 40%;
    padding: 1rem;
    text-align: center;
}
#startButton{
    margin-top: 1rem;
    padding: 1rem;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50px;
    border: 10px double rgb(0, 0, 0);
}